/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input-group {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.search {
    margin-bottom: 20px;
}

#city-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

#search-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

#search-btn:hover {
    background-color: #0056b3;
}

.weather-info {
    display: none;
    text-align: center;
}

#city-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

#weather-icon {
    font-size: 64px;
    margin-bottom: 10px;
}

#temperature {
    font-size: 32px;
    color: #333; 
}

#weather-description {
    font-size: 18px;
    margin-bottom: 10px;
    color: #777;
}

#weather-icon.night {
    color: #333; /* Dark color for night time */
}

/* Add specific styles for weather icons */
#weather-icon .fas.fa-cloud { color: #787878; } /* Ash color for cloudy weather */
#weather-icon .fas.fa-sun { color: #f5e36f; } /* Yellow color for sunny weather */
#weather-icon .fas.fa-cloud-showers-heavy { color: #185aad; } /* Blue color for rainy weather */
#weather-icon .fas.fa-bolt { color: #6c7eb7; } /* Purple color for thunderstorm weather */
#weather-icon .fas.fa-snowflake { color: #e8f1ff; } /* White color for snowy weather */
#weather-icon .fas.fa-smog { color: #c0c0c0; } /* Silver color for foggy/hazy weather */
#weather-icon .fas.fa-question-circle { color: #000; } /* Default color */


